<h1>Admin Dashboard</h1>

<div style="width: 500px">
<%= pie_chart Post.group_by_week(:created_at, last: 8).count %>
</div>


<div style="width: 500px">
<%= bar_chart [["2021-10-25", 10],["2021-09-04", 3]] %>
</div>

<%= line_chart [
  {name: "Date", data: {"2021-01-01" => 3, "2021-01-02" => 4}},
  {name: "Call ", data: {"2021-01-01" => 5, "2021-01-02" => 3}}
] %>

<ul>
  <li><h2><%= link_to 'Posts', posts_path %></h2></li>
  <li><h2><%= link_to 'Comments', comments_path %></h2></li>
  <li><h2><%= link_to 'Cats',cats_path %></h2></li>
  <li><h2><%= link_to 'blazer',blazer_path %></h2></li>
</ul>

